<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa Catastral con OpenLayers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>    
</head>
<body>
    <div id="inputForm">
        <div class="inputGroup">
            <input type="text" class="refInput" placeholder="Número de referencia catastral" required>
            <input type="text" class="provinciaInput" placeholder="Provincia" required>
            <input type="text" class="municipioInput" placeholder="Municipio" required>
        </div>
    </div>
    <div class="buttons">
        <button id="addButton" type="button">Añadir más</button>
        <button id="removeButton" type="button">Eliminar último</button>
        <button id="searchButton" type="button" onclick="fetchData()">Buscar</button>
    </div>
    <div id="map"></div>
    <div id="info"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
